
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/Layout.cshtml";
}

<div class=" single_top">
    <div class="single_grid">
        <div id="cartContent">
            <table class="table">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Name</td>
                        <td>Image</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                        <td>Option</td>
                    </tr>
                </thead>
                <tbody id="cartBody"></tbody>
            </table>
            <button class="btn btn-success" id="btnCheckout" value="true">Check out</button>
            <button class="btn btn-info" id="btnCntinue">Continue shopping</button>
            <button class="btn btn-warning" id="btnClearCart">Clear cart</button>
            <div class="pull-right">
                Total Bill: <span id="totalBill"></span>
            </div>
        </div>
        <div class="checkout" style="display:none">
            <div class="reservation_top">
                <div class=" contact_right">
                    <h3>Check out</h3>
                    <div class="contact-form">
                        <form method="post" id="frmClientDetail">
                            @if (Request.IsAuthenticated)
                            {
                                <label>
                                    <input type="checkbox" id="checkUserLogin" />
                                    Auto fill your details
                                </label>
                            }
                            <input type="text" class="textbox" name="name" required id="txtName" placeholder="Name">
                            <input type="text" class="textbox" name="address" required id="txtAddress" placeholder="Address">
                            <input type="text" class="textbox" name="mobile" required id="txtPhone" placeholder="Mobile">
                            <input type="text" class="textbox" name="email" required id="txtEmail" placeholder="Email">
                            <textarea placeholder="Message" id="txtMessage"></textarea>
                            <div class="clearfix"> </div>
                        </form>
                        <button type="button" id="btnCreateOrder">Process Payment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script id="tplCart" type="x-tmpl-mustache">
    <tr>
        <td>{{CartId}}</td>
        <td>{{ProductName}}</td>
        <td><img src="{{Image}}" height="50" /></td>
        <td>{{PriceF}}</td>
        <td><input type="text" data-price="{{Price}}" data-id="{{CartId}}" value="{{Quantity}}" class="input txtQuantity" /></td>
        <td id="total_{{CartId}}">{{Total}}</td>
        <td><button class="btn btn-danger btnDeleteItem" data-id="{{CartId}}"><i class="fa fa-close"></i></button></td>
    </tr>
</script>