.tag {
    display: block;
}

.custom_style {
    float: left;
}

    .custom_style li {
        display: inline-block;
        margin: 1px 1px;
    }

        .custom_style li a {
            color: cadetblue;
        }

.register-but input[type="submit"] {
    background: #F97E76;
    color: #FFF;
    font-size: 1em;
    padding: 0.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #FF5B36;
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.validation {
    color: red !important;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: unset !important;
}

.remember {
    color: #555;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    display: unset !important;
}


a.forgot {
    /* font-size: 0.8125em; */
    margin-left: 410px;
    /* text-transform: uppercase; */
    /* font-size: 0.9em; */
    /* padding-bottom: 0.2em; */
    color: #211e1e;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    /* display: block; */
    text-transform: unset;
}

ul.login {
    /* width: 20px; */
    float: left;
    width: 49% !important;
    margin-left: 137px !important;
    /* width: 10px; */
    margin-top: 1px;
}

.cart {
    width: 20% !important;
}

.header-bottom-right {
    float: right;
    width: 39% !important;
    text-align: center;
    padding-top: 1.7em;
}

ul.login li a span.imgAccount {
    background: url(/Assets/Client/images/img-sprite.png) -118px -29px !important;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

.login-right input[type="password"] {
    border: 1px solid #DDDBDB;
    outline-color: #fb4d01;
    width: 96%;
    font-size: 0.9em;
    padding: 10px;
}