.tag {
    display: block;
}

.custom_style {
    float: left;
}

    .custom_style li {
        display: inline-block;
        margin: 1px 1px;
    }

        .custom_style li a {
            color: cadetblue;
        }

.register-but input[type="submit"] {
    background: #F97E76;
    color: #FFF;
    font-size: 1em;
    padding: 0.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #FF5B36;
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.validation {
    color: red !important;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: unset !important;
}

.remember {
    color: #555;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    display: unset !important;
}


a.forgot {
    margin-left: 410px;
    color: #211e1e;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    text-transform: unset;
}

ul.login li a.logout span {
    background: url(../images/img-sprite.png) -86px -28px;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

.login-right input[type="password"] {
    border: 1px solid #DDDBDB;
    outline-color: #fb4d01;
    width: 96%;
    font-size: 0.9em;
    padding: 10px;
}

#frmClientDetail {
    color: red;
}

.emailAlert {
    margin: 0 auto;
    width: 300px;
    max-width: 100% !important;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 35px;
    font-weight: 300;
    text-align: center;
    box-shadow: 0px 0px 15px #fff;
}

input[type="button"]#btnSubscribe {
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    width: 35%;
    padding: 7px;
    background: #000;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    position: absolute;
    left: 14.7em;
    top: 15px;
}