
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/shared/Layout.cshtml";
}

<div class="register">
    <div class="alert alert-success" role="alert">
        <strong>Congratulations Your Registration Was Successful !!</strong>
        <br />Please click <b><a href="/login.html">here</a></b> to sign in your account.
    </div>
</div>


