<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<!-- Bootstrap 3.3.5 -->
        <link href="/Assets/Admin/libs/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Font Awesome -->
        <link href="~/Assets/Client/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link href="~/Assets/Admin/css/ionicons.min.css" rel="stylesheet" />
        <!-- Theme style -->
        <link rel="stylesheet" href="/Assets/Admin/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="/Assets/Admin/css/skins/_all-skins.min.css">
        <!--Toastr Css-->
        <link href="/Assets/Admin/libs/toastr/build/toastr.css" rel="stylesheet" />
        <link href="/Assets/Admin/css/custom.css" rel="stylesheet" />
        <!--angular-Loading-bar-->
        <link href="/Assets/Admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
        <link href="~/Assets/Admin/libs/ui-select/dist/select.min.css" rel="stylesheet" />*@
    @Styles.Render("~/bundles/cssAdminCore")
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="onlineShop" ng-controller="rootController">
    <div ui-view></div>
    <!-- Site wrapper -->
    <!-- jQuery 2.1.4 -->
    @Scripts.Render("~/bundles/jsAdminCore")
    @*<script src="~/Assets/Admin/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/Assets/Admin/libs/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="/Assets/Admin/libs/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="/Assets/Admin/libs/fastclick/fastclick.min.js"></script>*@
    <!--Begin embed AngularJs-->
    <script src="/Assets/Admin/libs/ckeditor/ckeditor.js"></script>
    <script src="/Assets/Admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    @*<script src="/Assets/Admin/libs/angular/angular.js"></script>
        <script src="/Assets/Admin/libs/angular-ui-router.js"></script>
        <script src="/Assets/Admin/libs/toastr/toastr.js"></script>
        <script src="/Assets/Admin/libs/bootbox/bootbox.js"></script>
        <script src="/Assets/Admin/libs/ng-Bootbox/ngBootbox.js"></script>
        <script src="/Assets/Admin/libs/ckeditor/ckeditor.js"></script>
        <script src="/Assets/Admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
        <script src="/Assets/Admin/libs/ckfinder/ckfinder.js"></script>
        <script src="/Assets/Admin/libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="/Assets/Admin/libs/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="~/Assets/Admin/libs/angular-sanitize.js"></script>
        <script src="~/Assets/Admin/libs/checklist-model/checklist-model.js"></script>
        <script src="~/Assets/Admin/libs/ui-select/dist/select.min.js"></script>*@

    @*<script src="/app/shared/modules/onlineshop.common.js"></script>
    <script src="/app/app.js"></script>

    <script src="/app/shared/services/notificationService.js"></script>
    <script src="/app/shared/filter/appFilter.js"></script>
    <script src="/app/shared/services/apiService.js"></script>
    <script src="/app/shared/directives/pagerDirectives.js"></script>
    <script src="/app/shared/services/unsignName.Service.js"></script>
    <script src="/app/shared/services/DeleteItemService.js"></script>
    <script src="/app/shared/services/authData.js"></script>
    <script src="/app/shared/services/authenticationService.js"></script>
    <script src="/app/shared/services/loginService.js"></script>

    <script src="/app/components/product_categories/productCategory.module.js"></script>
    <script src="/app/components/product_categories/productCategoryEditController.js"></script>
    <script src="/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="/app/components/product_categories/productCategoryListController.js"></script>

    <script src="/app/components/products/products.module.js"></script>
    <script src="/app/components/products/productListController.js"></script>
    <script src="/app/components/products/productAddController.js"></script>
    <script src="/app/components/products/productEditController.js"></script>*@

    @*<script src="~/app/components/page/page.module.js"></script>
    <script src="~/app/components/page/pageListCotroller.js"></script>
    <script src="~/app/components/page/pageAddController.js"></script>
    <script src="~/app/components/page/pageEditController.js"></script>*@

    @*<script src="~/app/components/application_groups/applicationGroups.module.js"></script>
    <script src="~/app/components/application_groups/applicationGroupAddController.js"></script>
    <script src="~/app/components/application_groups/applicationGroupListController.js"></script>
    <script src="~/app/components/application_groups/applicationGroupsEditController.js"></script>*@

    @*<script src="~/app/components/application_user_roles/applicationRoles.module.js"></script>
    <script src="~/app/components/application_user_roles/applicationRole_listController.js"></script>
    <script src="~/app/components/application_user_roles/applicationRole_editController.js"></script>
    <script src="~/app/components/application_user_roles/applicationRole_addController.js"></script>*@

    @*<script src="~/app/components/application_user/applicationUser_module.js"></script>
    <script src="~/app/components/application_user/applicationUser_listController.js"></script>
    <script src="~/app/components/application_user/applicationUser_editController.js"></script>
    <script src="~/app/components/application_user/applicationUser_addController.js"></script>

    <script src="~/app/components/newsletter/list_customer_email/customerEmail.Module.js"></script>
    <script src="~/app/components/newsletter/list_customer_email/customer_email_list_Controller.js"></script>

    <script src="~/app/components/newsletter/manager_email/emailManager.Module.js"></script>
    <script src="~/app/components/newsletter/manager_email/list_email_sentController.js"></script>
    <script src="~/app/components/newsletter/manager_email/send_email_Controller.js"></script>
    <script src="~/app/components/newsletter/manager_email/update_email_Controller.js"></script>

    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/home/rootController.js"></script>

    <script src="~/app/components/slide/slide.Module.js"></script>
    <script src="~/app/components/slide/list_slide_controller.js"></script>
    <script src="~/app/components/slide/add_slide_controller.js"></script>
    <script src="~/app/components/slide/update_slide_controller.js"></script>

    <script src="~/app/components/order/order.Module.js"></script>
    <script src="~/app/components/order/list_oder_controller.js"></script>
    <script src="~/app/components/order/add_order_controller.js"></script>

    <script src="~/app/components/logo/logo.Module.js"></script>
    <script src="~/app/components/logo/list_logo_controller.js"></script>
    <script src="~/app/components/logo/update_logo_controller.js"></script>

    <script src="/app/components/login/loginController.js"></script>*@
</body>
</html>
