    <section class="content-header">
    <h1>
        Product manager
        <small>preview of products</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Product manager</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">

        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" ng-model="keyword" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchFunc()">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <button class="btn btn-success" style="width:10%" name="create" ui-sref="productAdd">Create</button>
                <button class="btn btn-danger" style="width:10%" name="delete" disabled id="btnDelete" ng-click="deleteMultiProduct()">Delete</button>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th><input type="checkbox" ng-model="isAll" ng-click="SelectAll()" /></th>
                            <th style="width: 10px">ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Created Date</th>
                            <th style="width: 40px">Status</th>
                            <th>Options</th>
                        </tr>
                        <tr ng-repeat="product in ProductList">
                            <td><input type="checkbox" ng-model="product.checked" /></td>
                            <td>{{product.ID}}</td>
                            <td>{{product.Name}}</td>
                            <td>{{product.Price | currency: $}}</td>
                            <td>{{product.CreatedDate | date :'MMM/dd/yyyy - hh:mm:ss'}}</td>
                            <td width="10%"><span ng-class="{'badge bg-red':product.Status == false ,'badge bg-green':product.Status == true}">{{product.Status | statusFilter}}</span></td>
                            <td width="10%">
                                <button class="btn btn-sm btn-success" ui-sref="productEdit({id:product.ID})"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-sm btn-danger" ng-click="deleteSingleProduct(product.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="a fa-spinner fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div><!-- /.box-body -->
            </div>
            <div class="box-footer">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="GetProductList(page)"></pager-directive>
            </div><!-- /.box-footer-->
        </div>
    </div>
</section>