<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="pageSize" value="20"/>
  <add key="maxPage" value="5"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="manager.myphamngavy@gmail.com"/>
  <add key="FromEmailPassword" value="Kinhlinh1990"/>
  <add key="FromName" value="Mỹ Phẩm Nga Vy"/>
  <add key="toEmail" value="tranphucggg@gmail.com"/>
</appSettings>