@using Microsoft.AspNet.Identity
<div class="header">
    <div class="top-header">
        <div class="container">
            @*<div class="top-header-left">
                    <ul class="support">
                        <li><a href="#"><label> </label></a></li>
                        <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                    </ul>
                    <ul class="support">
                        <li class="van"><a href="#"><label> </label></a></li>
                        <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>*@
            <div class="top-header-right">
                <div class="down-top">
                    <select class="in-drop">
                        <option value="Japanese" class="in-of">Vietnamese</option>
                        <option value="English" class="in-of">English</option>
                    </select>
                </div>
                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="/Assets/Client/images/logo.png" alt=" " /></a>
                </div>
                <div class="search">
                    <form method="get" action="/search.html">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Keyword...">
                        <input type="submit" id="btnSearch" value="SEARCH">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                {
                    if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <div class="account"><a href="/your-account.html"><span> </span>YOUR ACCOUNT</a></div>
                        <ul class="login">
                            <li><a href="/logout.html" id="btnLogout" class="logout"><span> </span>LOGOUT</a></li> |
                            <li><a href="login.html">GIFT</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="login">
                            <li><a href="login.html"><span> </span>LOGIN</a></li> |
                            <li><a href="/register.html">SIGNUP</a></li>
                        </ul>
                    }
                }
                <div class="cart"><a href="/yourcart.html" id="yourCart"><span> </span>CART</a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>